.idea
LanguageSystem.iml

# LanguageAPI
LanguageAPI.iml
LanguageAPI/.gradle
LanguageAPI/build
LanguageAPI/out
LanguageAPI/.idea
LanguageAPI/gradle

# Language-Backend
Language-Backend.iml
Language-Backend/.gradle
Language-Backend/build
Language-Backend/out
Language-Backend/.idea
Language-Backend/gradle


